{
  "presets": ["react-native"],
  "sourceMaps": true,
  "plugins": [
    "transform-flow-strip-types",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
